body {
  margin: 0;
  padding: 0;
  display: block;
}

.navbar2 {
  display: flex;
  justify-content: center; /* Cambiado a center para alinear al centro */
  align-items: center;
  background-color: white;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
  padding: 0.5vw;
  overflow: hidden;
  position: sticky;
  top: 0%;
}

.navbar2 a {
  text-decoration: none;
}

#encabezado2 {
  display: flex;
  justify-content: center; /* Añadido para centrar el contenedor de las opciones */
}

#encabezado2 ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
}

#encabezado2 ul li {
  margin: 0.5vw;
  cursor: pointer;
  text-align: center;
  position: relative;
}

#encabezado2 ul li a {
  color: black;
  transition: color 300ms ease-in-out;
}

#encabezado2 ul li:hover a {
  color: rgb(161, 161, 161);
}

#encabezado2 ul li.active a {
  color: rgb(0, 0, 0);
}

#encabezado2 ul li:after {
  display: block;
  content: "";
  border-bottom: solid 1px rgb(0, 0, 0);
  padding-bottom: 0.1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

#encabezado2 ul li:hover:after,
#encabezado2 ul li.active:after {
  transform: scaleX(1);
}

#encabezado2 ul li.active {
  background-color: transparent;
}

.navbar2 .active {
  background-color: transparent;
}
