.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 20vw;
  padding: 2rem 1rem;
  margin: 16px;
  text-align: center;
}

.card-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  text-align: center;
  height: 250px;
  width: 90%;
  margin: auto;
}

.card-title {
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
}

.card-price {
  font-size: 20px;
  color: #333;
  padding: 8px 0 0 250px;
  margin-bottom: 0;
  font-weight: bold;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
  overflow: hidden;
}

.cardButton {
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
  text-transform: uppercase;
  width: 85%;
}

.card-button:hover {
  background-color: rgb(68, 68, 68);
}

.card-link {
  text-decoration: none;
  color: inherit;
}
