.checkout {
  padding: 20px;
}

.checkout table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.checkout th,
.checkout td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.checkout th {
  background-color: #f4f4f4;
}

.checkout img {
  width: 60px;
  height: auto;
}

.checkout-total {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid #ddd;
  font-size: 40px;
}

.checkout-total .total-amount {
  font-size: 45px;
  font-family: "Arial", sans-serif;
}

.confirm-purchase {
  padding: 2vh 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  background-color: #181818;
  display: block;
}
