footer {
  padding: 1rem 8%;
  background-color: rgb(23, 23, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: white;
  opacity: 0.3;
  text-align: center;
}

.imgFooter {
  width: 5vw;
  border-radius: 50px;
}
